* {
    box-sizing: border-box
}


/* Home page background */

body {
    background: url(../images/backgrounds/mainBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Nav Icons */

.container-1 {
    display: flex;
    justify-content: flex-end;
}

#mainNavBar {
    display: flex;
}

#github {
    height: 50px;
    width: auto;
    /* float: right; */
    margin-top: 5px;
}

#linkedin {
    height: 40px;
    width: auto;
    /* float: right; */
    margin: 10px;
}

.share {
    height: 40px;
    width: auto;
    /* float: right; */
    margin: 10px;
}

#email {
    height: 50px;
    width: auto;
    /* float: right; */
    margin: 5px;
}

#resume {
    height: 40px;
    width: auto;
    margin: 10px;
}


/* CSS Animations on Icons in Navbar */

.text-focus-in {
    visibility: hidden;
}

.gitAna:hover .text-focus-in {
    cursor: pointer;
    visibility: visible;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#gitText {
    margin-left: 2px;
}

.linkedinAna:hover .text-focus-in {
    cursor: pointer;
    visibility: visible;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#linkedinText {
    margin-left: 2px;
}

.emailAna:hover .text-focus-in {
    cursor: pointer;
    visibility: visible;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#emailText {
    margin-left: 2px;
}

.resumeAna:hover .text-focus-in {
    cursor: pointer;
    visibility: visible;
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#resumeText {
    /* margin-right: 20px; */
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


/* Name, Title, Project Button */

.container-2 {
    display: flex;
    justify-content: flex-start;
}


/* Empty for spacing */

.box-1 {
    flex: 7;
}


/* Name and Title */

.box-2 {
    flex: 3;
}

#name {
    font-family: 'Lobster', cursive;
    font-size: 48px;
}

#myTitle {
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
}


/* Project Button */

.box-3 {
    flex: 2;
}

#projectsBtn {
    margin-top: 15px;
    margin-left: 40px;
    background: black;
    color: white;
    width: 120px;
    height: 40px;
    font-size: 18px;
}

#projectsBtn:hover {
    cursor: pointer;
}


/* Profile Pic, About Me */

.container-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Empty for Spacing */

.box-4 {
    flex: 7;
    margin-right: 10px;
}


/* Profile Pic, About Me */

.box-5 {
    flex: 5;
    background: #D7D7D9;
    opacity: .7;
    border: #66686b 1px;
    padding: 5px;
    margin-right: 10px;
}

#profilePic {
    float: left;
    margin: 5px;
    width: 180px;
    height: auto;
}

.aboutP {
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    text-indent: 2.0em;
    font-size: 20px;
}


/* Back (Home) Button */

#backBtn {
    margin-top: 60px;
    background: black;
    color: #595554;
    width: 80px;
    height: 40px;
    font-size: 32px;
    font-family: 'Squada One', cursive;
    border: solid 1px black;
}

#backBtn:hover {
    cursor: pointer;
}


/* Slideshow container */

.slideshow-container {
    max-width: 900px;
    position: relative;
    margin: auto;
    margin-top: 20px;
}


/* Hangman App */

.box-7 {
    display: flex;
    justify-content: space-around;
}

#hangApp {
    background: black;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-left: -5px;
    font-size: 18px;
}

#hangApp:hover {
    cursor: pointer;
}

#hangCode {
    background: black;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-right: 15px;
    font-size: 18px;
}

#hangCode:hover {
    cursor: pointer;
}


/* StarTrek RPG App */

.box-8 {
    display: flex;
    justify-content: space-around;
}

#trekApp {
    background: black;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 18px;
}

#trekApp {
    cursor: pointer;
}

#trekCode {
    background: black;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-right: 25px;
    font-size: 18px;
}

#trekCode:hover {
    cursor: pointer;
}


/* Game of Thrones Trivia App */

.box-9 {
    display: flex;
    justify-content: space-around;
}

#throneApp {
    background: black;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-left: 45px;
    font-size: 18px;
}

#throneApp:hover {
    cursor: pointer;
}

#throneCode {
    background: black;
    color: white;
    width: 120px;
    height: 40px;
    margin-top: 5px;
    margin-right: 65px;
    font-size: 18px;
}

#throneCode:hover {
    cursor: pointer;
}


/* Hide the slideshow images by default */

.mySlides {
    display: none;
    margin-left: 20px;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 24px;
    padding: 8px 12px;
    bottom: 8px;
    right: 1px;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    margin-left: 80px;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slideImgs {
    height: 400px;
    width: 700px;
    margin-left: 80px;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}