body {
    background: url(../images/backgrounds/mainBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#github {
    height: 40px;
    width: auto;
    float: right;
    margin: 10px;
}

#linkedin {
    height: 40px;
    width: auto;
    float: right;
    margin: 10px;
}

.share {
    height: 40px;
    width: auto;
    float: right;
    margin: 10px;
}

#email {
    height: 40px;
    width: auto;
    float: right;
    margin: 10px;
}

#resume {
    height: 40px;
    width: auto;
    float: right;
    margin: 10px;
}

#name {
    float: left;
    margin-top: 40px;
    margin-left: 190px;
    font-family: 'Lobster', cursive;
}

#myTitle {
    clear: both;
    float: left;
    margin-left: 195px;
    margin-bottom: 10px;
}

#projectsBtn {
    clear: both;
    float: right;
    margin-top: 20px;
    margin-right: 65px;
}


/* #projectsBtn:hover {
    background: #f0f1f3;
    color: black;
} */

.aboutP {
    text-indent: 2.0em;
}

#aboutMe {
    padding-top: 10px;
    margin-left: 45px;
    background: #f0f1f3;
    opacity: .4;
    border: black solid 1px;
}